html {
  overflow-y: scroll;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'calibri', arial;
}
#sections {
  width: 100%;
  padding: 10px 0;
  background-color: #333;
  position: fixed;
  text-align: center;
}
#sections a, span {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}
#sections a:hover {
  border-bottom: 2px solid #fff;
}
#sections a#selected {
  border-bottom: 2px solid #fff;
}
.description {
  margin: 0px 20px;
}

/* If a user is using a small screen or a phone */
.dropdown-content, .dropbtn {
  display: none;
}

@media only screen and (max-width : 715px) {
  .header, span {
    display: none;
    border-style: none !important;
  }
  #typed, .typed-cursor {
    display: inline-block !important;
    color: #000 !important;
  }
  #sections a:hover {
    border: none;
  }
  .dropdown-content {
    display: normal;
  }
  .dropbtn {
      background-color: #333;
      cursor: pointer;
      display: inline-block;
      border-radius: 5px 5px 0px 0px;
  }
  button {
    border: none;
    background: none;
  }
  .dropdown {
      position: relative;
      display: inline-block;
  }
  .dropdown-content {
      display: none;
      position: absolute;
      min-width: 160px;
      z-index: 1;
  }
  .dropdown-content a {
      background-color: black;
      font-weight: bold;
      z-index: 1000;
      padding: 10px 20px;
      text-decoration: none;
      display: block;
  }
  .dropdown-content a:hover {
      background-color: #5b5b5b;
  }
  .dropdown:hover .dropdown-content {
      display: block;

  }
}
/* End of optomized for mobile */

#typed {
  color: black;
  font-weight: bold;
}
.typed-cursor {
    color: black;
    font-weight: bold;
    opacity: 1;
    position: absolute;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}
@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
@-moz-keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
