html {
  overflow-y: scroll;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'calibri', arial;
}
#sections {
  width: 100%;
  padding: 10px 0;
  background-color: #333;
  position: fixed;
  text-align: center;
}
#sections a, span {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}
#sections a:hover {
  border-bottom: 2px solid #fff;
}
#sections a#selected {
  border-bottom: 2px solid #fff;
}
#bars {
  display: none;
}
@media only screen and (max-width : 810px) {
  #sections a:not(#home), span {
    display: none;
    border-style: none !important;
  }
  #bars {
    display: block;
  }
  #home {
    float: left;
    margin-left: 20%;
    border-bottom: 2px solid #fff;
  }
}

.description {
  margin-left: 20px;
}
